# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuraciones de PyCharm
.idea/
*.iml

# Bases de datos locales
db.sqlite3

# Archivos multimedia
media/

# Archivos estáticos
staticfiles/

# Archivos generados por Docker
*.log
docker-compose.override.yml
