# ==========================================
# Archivos generados por Python
# ==========================================
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd

# ==========================================
# Archivos y bases de datos Django
# ==========================================
*.log
*.pot
db.sqlite3
*.sqlite3
!media/*.md
!media/example/

#staticfiles/

# ==========================================
# Entornos virtuales
# ==========================================
.venv/
venv/
env/
ENV/
env.bak/
.env/

# ==========================================
# Configuraciones de IDE y herramientas
# ==========================================
.idea/
.vscode/

# ==========================================
# Archivos generados por el sistema operativo
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Dependencias y módulos de Node.js (Frontend)
# ==========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Archivos generados por Docker
# ==========================================
*.pid
*.sock
docker-compose.override.yml

# ==========================================
# Otros archivos innecesarios
# ==========================================
*.swp
*.swo
logs/

# ==========================================
# Exclusiones (si necesitas agregar algo al repo)
# ==========================================
!.gitignore

celerybeat-schedule
*.log.*

docker-data/

*/migrations/*.pyc
